.menu img{
    width: 120px;
    height: 120px;
    display: inline;
}
ul{
    display: inline;
    float: right;

}
li{
    display: inline;
}
a{
    margin: 5px;
}
.acceuil{
    margin-top: 100px;
}

main img{
    width: 700px;
    height: 500px;
}
.container{
    display: block;
    position: absolute;
    right: 70px;
     top: 1200px;
     font-style: normal;
     font-family: Georgia, 'Times New Roman', Times, serif;
     color: rgb(95, 96, 160);
     font-size: xx-large;
}
.containe{
display: flex;
gap: 9rem;
margin-top: 100px;

}

.contain img{
    display: inline;
    width: 400px;
    height: 400px;
    position: relative;
    right: -15px;
    
}
.contai.img{
    display: inline;
    position: relative;
    right: 100px;
}
.conta.img{
    display: inline
}
.offres{
    display: flex;
    gap: 4rem;
    margin-top: 100px;
    background-color: rgb(4, 4, 201);
}
.offres h1{
    font-size: xx-large;
    position: relative;
    top: 100px;
    color: aliceblue;
}
.offres p{
    font-size: xx-large;
    position: absolute;
    bottom: -2100px;
    color: aliceblue;
}
span h2{
    font-size: xx-large;
    text-align: center;
    color: rgb(1, 13, 117);
    margin-top: 50px;
}
.offres h1 p{
    position: relative;
    top: 200px;

}
.offr{
    font-size: x-large;

}
.off{
    font-size: large;
    display: block;
    margin: 100px;
}
.debutdoc{
    background-color: rgb(28, 28, 224);
}
main{
    display: block;
    font-size:xx-large;

}
.photo img{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 3860px;
    right: 500px;
}
.photo span img{
    position: absolute;
    right: 60px;
}
form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type=text], input[type=email] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Pour que le padding n'affecte pas la largeur */
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

input[type=submit]:hover {
  background-color: #45a049;
}
.contenue{
    background-color: rgb(43, 39, 39);
    color: aliceblue;
}
.bas img{
    width: 120px;
    height: 120px;
    display: inline;
    position: absolute;
    top: 4620px;
    right: 700px;
}
.bas p strong{
    position: absolute;
    display: inline;
    top: 4620px;
    right: 70px;
    font-size: large;
}



