.menu img{
    width: 120px;
    height: 120px;
    display: inline;
}
ul{
    display: inline;
    float: right;

}
li{
    display: inline;
}
a{
    margin: 5px;
}
main img{
    width: 700px;
    height: 500px;
}
.container{
    display: block;
    position: absolute;
    right: 70px;
     top: 160px;
     font-style: normal;
     font-family: Georgia, 'Times New Roman', Times, serif;
     color: rgb(95, 96, 160);
     font-size: xx-large;
}
.contenue{
    background-color: rgb(43, 39, 39);
    color: aliceblue;
}
.bas img{
    width: 120px;
    height: 120px;
    display: inline;
    position: absolute;
    top: 660px;
    right: 700px;
}
.bas p strong{
    position: absolute;
    display: inline;
    top: 660px;
    right: 70px;
    font-size: large;
}